// Override default variables before the import
$body-bg: #f7fbfa;
$body-color: rgba(0, 0, 0, .65);
$theme-colors: ( "primary": #38d39f, "danger": #ff7161, "success": #38d39f);
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
}

.nav-link img {
    width: 1.5em;
}